@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


html {
    scroll-behavior: smooth;
  }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#fffff2;
}

/* Heading and logos */
h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;

}

#logo {
    float: 20px;
    font-size: 200%
}


.logo {
    cursor: pointer;
    margin-right: auto;
}


header, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    padding-left: 135px;
}



/* Nav links , List , button */
li, a, button {
    font-family: Roboto, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #36454F;
    display: inline-block;
    text-decoration: none;
}


.nav_links {
    display:flex;
    list-style: none;
}


.nav_links , li {
    display: inline-block;
    padding: 0px 20px;
}


.nav_links , li, a {
    transition: all 0.3s ease 0s;
}


.nav_links , li , a:hover {
    color: burlywood;
}

.active {
    border-bottom: 1px solid burlywood;
}

button {
    padding: 9px 25px;
    background-color: rgba(222, 184, 135, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

button:hover {
    background-color: rgba(222, 184, 135, 1);
}

/* hero img */

#hero-image {
    height: 750px;
    width: 100%;
    background-image: url(../images/pp1-hero.jpg);
    position: relative;
}

#cover-text {
    width: 300px;
    height: 200px;
  
}

#cover-text {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(68, 69, 70, 1 );
    width: 300px; 
    background-color: transparent;
    top: 10px;
    left: 135px;
    position: absolute;
}

/* section what is , type of */

.paragraph-container {
    padding-top: 30px;
    width:50%;
    margin: 0 auto;
    height: 750%;
    
}



#what-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}


.text-heading {
    width: fit-content;
    height: 50%;
    padding: 20px 20px;
    color: #36454F;
    font-size: large;
    font-family: Lato, sans-serif;
    display: left;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;

}
  
.what-about-heading h2 {
    font-family: Lato, sans-serif;
}


iframe {
    width: 100%;
}

.iframe-container {
   width: 100%;
   top: 10px;
   margin: 0 auto;
}




/* Philosopher info and container */

.box h2 {
    text-align: center;
    font-family: Lato , sans-serif;
    color:#36454F;
}



.box  {
    width: 80%;
    height: 40%;
    margin: 65px;
    border: 2px solid rgba(54,69,79,0.4);
    display: flex;
    justify-content: center;
    font-family: Lato , sans-serif;
    font-size: x-large;
    padding: 20px;
}

.box div {
    font-family: Lato sans-serif;
    font-size: large;
    text-align: center;
}



img {
    width: 200px;
    height: 25%;
    margin: 10px;
    padding: 10px;
    border: 2px inset rgba(54,69,79,0.5);
    display: flex;
    justify-content: center;
}
 
.centered-text {
    text-align: center;
    font-family: Lato , sans-serif;
    text-decoration: underline;
    color:#36454F;
    margin:inherit;
}


/* Footer content */
footer {
    height: 150px;
}

footer p {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;
    font-size: xx-large;
    text-align: center;
}

footer p > i {
    color: #36454F;
    font-size: medium;
}


.social-networks {
    text-align: center;
}

.social-networks>li {
    flex: inline;
}

.social-networks i {
    font-size: 400%;
    margin: 0 auto;
    padding: 5%;

}
/* sign up form */
.div-form {
    background-size: cover;
    background-position: center;
    height: 900px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    font-family: Lato , sans-serif;
}

.input-text {
    width: 100%;
    height: 30px;
    background-color: rgba(54,69,79,0.4);
    margin: 10px 0px 20px ;
    border: 1px  #fffff2 none;
    color:#fffff2;
}
input:focus, textarea {
    outline: none !important;
}
.sign-up-form > h2 {
    color: burlywood;
    margin-bottom: 20px;
    font-family: Roboto , sans-serif;
    
}

.input-text:hover {
    border-color: burlywood;
    
}

.submit-button {
    padding: 10px 25px;
    background-color: rgba(222, 184, 135, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}
