@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


html {
    scroll-behavior: smooth;
  }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#fffff2;
}

/* Heading and logos */
header  div a {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;
    font-size: xx-large;
    
}

#logo {
    float: 20px;
    font-size: 00%
}


#logo {
    cursor: pointer;
    margin-right: auto;
}


header, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



/*  Nav Bar , Nav links , List , button */
li, a, button {
    font-family: Roboto, sans-serif;
    font-weight: 500px;
    font-size: 1rem;
    color: #36454F;
    display: inline;
    text-decoration: none;

}

.navbar {
    max-width: 1200px;
    flex-direction:row;
}

.nav_links {
    display:flex;
    list-style: none;
}


.nav_links  {
    display: inline-block;
    padding: 0px 20px;
}


.nav_links , li, a {
    transition: all 0.3s ease 0s;
}


.nav_links , li , a:hover {
    color: burlywood;
}

.active {
    border-bottom: 1px solid burlywood;
}

button {
    padding: 9px 25px;
    background-color: rgba(222, 184, 135, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-inline: 10px;
}

button:hover {
    background-color: rgba(222, 184, 135, 1);
}

/* hero img */

#hero-image {
    height: 750px;
    width: 100%;
    background-image: url(../images/pp1-hero.jpg);
    position: relative;
}

#cover-text {
    width: 300px;
    height: 200px;
  
}

#cover-text {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2d2d2b;
    width: fit-content; 
    background-color: transparent;
    top: 10px;
    left: 135px;
    position: absolute;
    text-shadow: 2px 2px #fffff2;
}

/* section what is , type of */

.paragraph-container {
    
    width:50%;
    margin: 0 auto;
    height:fit-content;
    display:flex;
    justify-content: space-between;
}

.text-heading {
    width: fit-content;
    height: 50%;
    padding: 20px ;
    color: #36454F;
    font-size: large;
    font-family: Lato, sans-serif;
    display: left;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;

}
  
iframe {
    width: 100%;
}

.iframe-container {
   width: 100%;
   top: 10px;
   margin: 0 auto;
}




/* Philosopher info and container */

.philosophers-info {
    margin: 0 auto;
    text-align: center;
}

.box h2 {
    text-align: center;
    font-family: Lato , sans-serif;
    color:#36454F;
}



.box  {
    width: 80%;
    height: 40%;
    margin: 10px;
    border: 2px solid rgba(54,69,79,0.4);
    display: flex;
    justify-content: space-between;
    font-family: Lato , sans-serif;
    font-size: x-large;
    padding: 10px;
}

.box div {
    font-family: Lato sans-serif;
    font-size: large;
    text-align: center;
}



img {
    width: 200px;
    height: 25%;
    margin: 10px;
    padding: 10px;
    border: 2px inset rgba(54,69,79,0.5);
    display: flex;
    justify-content: center;
}
 
.centered-text {
    text-align: center;
    font-family: Lato , sans-serif;
    text-decoration: underline;
    color:#36454F;
    margin: 10px;
    
}

/* Footer content */
footer {
    height: 150px;
}

footer p {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;
    font-size: xx-large;
    text-align: center;
}

footer p > i {
    color: #36454F;
    font-size: medium;
}

.social-networks {
    text-align: inline;
    display: flex;
    justify-content: center ;
}


.social-networks i {
    font-size: 400%;
    margin: 0 auto;
    
    
}
/* sign up form */

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color:rgba(60, 60, 60, 0.9);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
    font-family: Lato , sans-serif;
    font-size: large;
    border: outset burlywood;
    box-shadow: 2px 2px rgba(60, 60, 60, 0.6);
}

.input-text {
    width: 100%;
    height: 30px;
    background-color: rgba(54,69,79,0.4);
    margin: 10px 0px 20px ;
    border: 1px  outset burlywood ;
    color:#fffff2;
    font-family: Lato , sans-serif;
    font-size: medium;
}

input:focus, textarea {
    outline: none !important;
    border-color: #fffff2;
}

.sign-up-form > h2 {
    color: burlywood;
    margin-bottom: 20px;
    font-family: Roboto , sans-serif;
    
}

.submit-button {
    padding: 10px 25px;
    background-color: rgba(222, 184, 135, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.submit-button:hover {
    color: #fffff2;
}

/* media queries /*

/* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px){
    /* Header , Nav and hero */
  
    
    .nav_links {
        flex-direction: column;
        justify-content:space-between;
    }

    #hero-image {
        width:100%;
    }
    
    /* Paragraph-container, text-heading iframe */

    .paragraph-container{
        width:80%;
    }

    .text-heading {
        width: 100%;
    }

    /* Philosopher section , box and imgs */

    .box {
        flex-direction: column;
        align-items: center;
    }
    
    img {
        display: flex;
        justify-content: center;
    }

    /* footer icon */
    .social-networks {
        display: flex;
        justify-content: space-between;
        
    }
}   

/* for medium screen sizes from 950px and down */

@media screen and (max-width: 950px){
    .nav_links {
        display: inline;
    }
    
    .logo{
        display: flex;
        flex-direction: row ;
    }

    button {
        padding: 5px 15px;
       
    }

    #hero-image {
        width:100%;
    }
    
    /* Paragraph-container, text-heading iframe */

    .paragraph-container{
        width:80%;
        flex-direction: column;
        align-items: center;
    }

    .text-heading {
        width: 100%;
    }

    /* Philosopher section , box and imgs */

    .box {
        flex-direction: column;
        align-items: center;
    }
    
    img {
        display: flex;
        justify-content: center;
    }

    /* footer icon */
    .social-networks {
        display: flex;
        justify-content: space-between;
        
    }
}

/* Mobile devies 480px down */
@media screen and (max-width: 480px){
    /* header logo , nav */
    header div {
        left:20px;
    }
    
    header  div a {
        font-family: Roboto, sans-serif;
        font-size: 30px;
    }

    li, a, button {
        font-family: Roboto, sans-serif;
        font-weight: 500px;
        font-size: 15px;
        color: #36454F;
        text-decoration:none;
        display: row;
        justify-content: space-evenly;
    }
    
    button {
        margin: 5px;

    }
    /* hero img and cover text */
    
    #hero-image {
        width:100%;
        height: 470px;
    }
    #cover-text {
        width: 300px;
        height: 200px;
      
    }
    
    #cover-text {
        top:20px;
        left:20px
    }

    /* paragraph container , text-heading */

   

    /* box , img and iframe*/
    .box {
        padding: ;
        margin: 5px;
        display: flex;
        justify-content: space-evenly;
    }

    /* footer */
    .social-networks {
        font-size: small;
        
       
    }
    li, a, button {
        font-family: Roboto, sans-serif;
        font-weight: 10px;
        font-size: 10px;
        color: #36454F;
        text-decoration: none;
        display: center;
        text-align: center;
        
      }




