@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F8F0E3;
}

/* Heading and logos */
h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;

}

#logo {
    float: 20px;
    font-size: 200%
}


.logo {
    cursor: pointer;
    margin-right: auto;
}


header,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


/* Nav links , List , button */
li,
a,
button {
    font-family: Roboto, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #36454F;
    display: inline-block;
    text-decoration: none;
}


.nav_links {
    list-style: none;
}


.nav_links,
li {
    display: inline-block;
    padding: 0px 20px;
}


.nav_links,
li,
a {
    transition: all 0.3s ease 0s;
}


.nav_links,
li,
a:hover {
    color: burlywood;
}

.active {
    border-bottom: 1px solid burlywood;
}

button {
    padding: 9px 25px;
    background-color: rgba(222, 184, 135, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

button:hover {
    background-color: rgba(222, 184, 135, 1);
}

/* hero img */

#hero-image {
    height: 750px;
    width: 100%;
    background-image: url(../images/pp1-hero.jpg);
}

/* section what is , type of */



.paragraph-container {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    height: 750%
}


#what-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}


.text-heading {
    width: 1000px;
    height: 50%;
    padding: 20px 20px;
    border: 5px inset rgba(222, 184, 135, 0.2);
    color: #36454F;
    font-size: large;
    font-family: Lato, sans-serif;
    display: left;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;

}


.what-about-heading h2 {
    font-family: Lato, sans-serif;
}

#container {
    text-align: center;

}

/* Footer content */
footer {
    height: 150px;
}

footer p {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: burlywood;
    font-size: xx-large;
}

footer p>i {
    color: #36454F;
    font-size: medium;
}


.social-networks {
    text-align: center;
}

.social-networks>li {
    flex: inline;
}

.social-networks i {
    font-size: 400%;
    margin: 0 auto;
    padding: 5%;

}